.app {
	min-height: 100%;
	background-color: #f1f1f1;
	color: #cacaca;
	display: grid;
	place-items: center;

	background-image: url('/images/backgrounds/jason-leung-eJCMXIFBRSY-unsplash.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}
